body {
    background-color: #f5f5dc; /* Light beige background for a vintage feel */
    color: #333; /* Darker text color for readability */
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: #fff; /* White background for main container */
    border-radius: 8px;
    padding: 20px;
    border: 1px solid #ddd; /* Light gray border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.collage {
    background: url('/static/images/back.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 310px;
    border-radius: 8px;
    margin-top: 20px;
}

.form-label {
    border-radius: 5px;
    font-weight: bold;
}

.btn-record, .btn-stop {
    border-radius: 5px;
    font-weight: bold;
}

.btn-record {
    background-color: #7cbb35;
    color: #fff;
    border: 2px solid #7cbb35;
}

.btn-record:hover {
    background-color: #e89c4f;
}

.btn-stop {
    background-color: #a85d5d;
    color: #fff;
    border: 2px solid #a85d5d;
}

.btn-stop:hover {
    background-color: #944a4a;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 20px;
}

.card-body {
    background-color: #fafafa;
    border-radius: 8px;
}

.recording-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.recording-box {
    flex: 1;
    display: flex;
    align-items: left;
    justify-content: auto;
}

.recording-box img {
    width: auto;
    height: auto;
    margin-left: 20px;
    border-radius: 50%;
}

.recording-section img {
    width: 250px; /* Adjust the width to a suitable size */
    height: 150px; /* Maintain aspect ratio */
    border-radius: 50%;
}

.feedback-card {
    display: none;
}

.transcript-container {
    width: 100%;
    height: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 20px;
    padding: 15px;
    background-color: #fafafa;
}

.confidence-section {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
}
#download-links {
    margin-top: 20px; 
    text-align: center; /* Center the links */
}

#download-links a {
    display: inline-block; /* Make the links display inline */
    margin: 0 10px; /* Add some spacing between the links */
    padding: 10px 20px;
    background-color: #4CAF50; /* Green background */
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#download-links a:hover {
    background-color: #3e8e41; /* Darker green on hover */
}